@{
    Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>努力加载中......</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <style type="text/css">
        .proccess {
            border: 1px solid #000000;
            width: 8px;
            height: 8px;
            background: #000000;
            margin: 3px;
        }

        .fontbig {
            font-size: 3em;
        }

        .divjiazai img {
            position: absolute;
            top: 40%;
            width: 30%;
            left: 35%;
        }
    </style>
</head>
<body onload="location.href = url;" style='overflow:hidden;overflow-y:hidden;'>
    <script language="JavaScript">
        var url = 'http://www.anjismart.com/FirstPencilWeb/enterprise/qyshoe';
    </script>
    <div class="divjiazai" align=center style=" position:fixed;background-color:white;top:0;left:0;">
        <div>
            <img src="~/Images/jz.gif" />
        </div>
    </div>
    <div align="center">
        <script>
            if (document.layers)
                document.write('<Layer src="' + url + ' " VISIBILITY="hide"> </Layer>');
            else if (document.all || document.getElementById)
                document.write('<iframe src="' + url + '" style="visibility: hidden;"></iframe>');
            else location.href = url;
        </script>
        <script type="text/javascript">
            $(function () {
                $(".divjiazai").css("height", $(window).height()).css("width", $(window).width());

            })
        </script>
    </div>
</body>
</html>