@{
    Layout = null;
}
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>企业介绍</title>
    <link href="~/chajian/mmm/css/idangerous.swiper.css" rel="stylesheet" />
    <link href="~/chajian/mmm/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="mp3">
        <audio src="~/mp3/bg1.mp3" autoplay="autoplay" loop="loop">您的浏览器不支持 audio标签。</audio>
        <img width="80" height="80" class="music on" src="~/chajian/mmm/images/on.png" />
    </div>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide n2">
                <div class="info">
                    <div class="info1"><img src="~/Images/yqjsui/0-1.png" class="infoimg" /></div>
                    <div class="info2"><img src="~/Images/yqjsui/0-2.png" class="infoimg" /></div>
                    <div class="info3"><img src="~/Images/yqjsui/0-3.png" class="infoimg" /></div>
                </div>
            </div>
            <div class="swiper-slide n3">
                <div class="info">
                    <div class="info1"><img src="~/Images/yqjsui/1-1.png" class="infoimg" /></div>
                    <div class="info2"><img src="~/Images/yqjsui/1-2.png" class="infoimg" /></div>
                    <div class="info3"><img src="~/Images/yqjsui/1-3.png" class="infoimg" /></div>
                    <div class="info4"><img src="~/Images/yqjsui/1-4.png" class="infoimg" /></div>
                    <div class="info5"><p>渗透到我们生活中最细微的每一个角落</p><p>唯一一个没有被时代的日新月异所淘汰</p></div>
                </div>
            </div>
            <div class="swiper-slide n4 swiper-slide-small">
                <div class="info">
                    <div class="info1"><img src="~/Images/yqjsui/2-1.png" /></div>
                    <div class="info2"><img src="~/Images/yqjsui/2-2.png" class="infoimg" /></div>
                    <div class="info3"><img src="~/Images/yqjsui/2-3.png" class="infoimg" /></div>
                </div>
            </div>
            <div class="swiper-slide n5 swiper-slide-small">
                <div class="info">
                    <div class="info1"><img src="~/Images/yqjsui/3-1.png" /></div>
                    <div class="info2"><img src="~/Images/yqjsui/3-2.png" class="infoimg" /></div>
                    <div class="info3"><img src="~/Images/yqjsui/3-3.png" class="infoimg" /></div>
                    <div class="info4"><img src="~/Images/yqjsui/3-4.png" class="infoimg" /></div>
                    <div class="info5"><img src="~/Images/yqjsui/3-5.png" class="infoimg" /></div>
                </div>
            </div>
            <div class="swiper-slide n6 swiper-slide-small">
                <div class="info">
                    <div class="info1"><img src="~/Images/yqjsui/4-1.png" /></div>
                    <div class="info2"><img src="~/Images/yqjsui/4-2.png" /></div>
                    <div class="info3"><img src="~/Images/yqjsui/4-3.png" class="infoimg" /></div>
                    <div class="info4"><img src="~/Images/yqjsui/4-4.png" class="infoimg" /></div>
                </div>
            </div>
            <div class="swiper-slide n7">
                <div class="info">
                    <div class="info1"><img src="~/Images/yqjsui/5-1.png" /></div>
                    <div class="info2"><img src="~/Images/yqjsui/5-2.png" /></div>
                    <div class="info3"><img src="~/Images/yqjsui/5-3.png" /></div>
                </div>
            </div>
            <div class="swiper-slide n8">
                <div class="info">
                    <div class="info1"><img src="~/Images/yqjsui/6-1.png" /></div>
                    <div class="info2"><img src="~/Images/yqjsui/6-3.png" class="infoimg" /></div>
                    <div class="info3"><img src="~/Images/yqjsui/7-1.png" class="infoimg" /></div>
                </div>
            </div>
            <div class="swiper-slide n9">
                <div class="info">
                    <div class="info1"><img src="~/Images/yqjsui/7-2.png" /></div>
                    <div class="info2"><img src="~/Images/yqjsui/7-3.png" class="infoimg" /></div>
                    <div class="info3"><img src="~/Images/yqjsui/7-4.png" /></div>
                    <div class="info4"><img src="~/Images/yqjsui/7-5.png" class="infoimg" /></div>
                </div>
            </div>
            <div class="swiper-slide n10">
                <div class="info">
                    <div class="info1"><img src="~/Images/yqjsui/8-1.png" /></div>
                    <div class="info2"><img src="~/Images/yqjsui/8-2.png" /></div>
                    <div class="info3"><img src="~/Images/yqjsui/8-3.png" /></div>
                    <div class="info4"><img src="~/Images/yqjsui/8-4.png" /></div>
                    <div class="info5"><img src="~/Images/yqjsui/8-5.png" /></div>
                    <div class="info6"><img src="~/Images/yqjsui/8-6.png" /></div>
                    <div class="info7"><img src="~/Images/yqjsui/8-7.png" /></div>
                    <div class="info8"><img src="~/Images/yqjsui/8-8.png" /></div>
                    <div class="info9"><img src="~/Images/yqjsui/8-9.png" /></div>
                    <div class="info10"><img src="~/Images/yqjsui/8-10.png" /></div>
                </div>
            </div>
            <div class="swiper-slide n11">
                <div class="info">
                    <div class="info1"><p>感谢您的一路支持与陪伴</p></div>
                    <div class="info2">
                        <img src="~/Images/yqjsui/9-1.png" />
                    </div>
                    <div class="info3"><p>长按图片  识别二维码</p></div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/chajian/mmm/js/idangerous.swiper.min.js"></script>
    <script src="~/chajian/mmm/js/jquery-1.10.1.min.js"></script>
    <script src="~/chajian/mmm/js/script.js"></script>
</body>
</html>