@{
    ViewBag.Title = "新品详情";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #cen {
        height: 100%;
        width: 100%;
    }

        #cen #myCarousel {
            margin-top: 1em;
            margin-bottom: 2.5em;
        }

            #cen #myCarousel .left {
                margin-left: -10px;
            }

            #cen #myCarousel .right {
                margin-right: -10px;
            }

        #cen .carousel-inner {
            height: 15em;
        }

            #cen .carousel-inner img {
                height: 15em;
                margin: auto;
            }

    .hero-unit {
        padding: 10px;
        margin-bottom: 2.4em;
    }
    .hero-unit table{
        border-bottom:1px solid #ccc;
    }

    .alert {
        text-align: center;
        height: 2.3em;
        line-height: 2.3em;
        background-color: #b3c9bc;
        border: none;
        margin: 0px;
        padding: 3px 2px 5px 2px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 99%;
    }

        .alert .input-small {
            width: 78%;
        }

        .alert .btn {
            width: 15%;
        }
</style>
<div id="cen">
    <!--图片轮播-->
    <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item"><img src="~/Images/jiangshi/001.jpg" /></div>
            <div class="item"><img src="~/Images/jiangshi/002.jpg" /></div>
            <div class="item"><img src="~/Images/jiangshi/003.jpg" /></div>
            <div class="item"><img src="~/Images/jiangshi/004.jpg" /></div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
    <!--内容介绍-->
    <div class="hero-unit">
        <table class="table table-striped">
            <tr>
                <td>产品名称</td>
                <td>三星 PVZ铅笔</td>
            </tr>
            <tr>
                <td>品牌</td>
                <td>三星</td>
            </tr>
            <tr>
                <td>型号</td>
                <td> PVZ铅笔</td>
            </tr>
            <tr>
                <td>笔类型</td>
                <td>石墨/普通铅笔</td>
            </tr>
            <tr>
                <td>规格</td>
                <td>植物3套 僵尸3套</td>
            </tr>
            <tr>
                <td>笔芯硬度:</td>
                <td>HB</td>
            </tr>
        </table>
        <img src="~/Images/jiangshi/01.png" />
    </div>
    <!--悬浮回复框-->
    <div class="alert">
        <form class="form-inline">
            <input type="text" class="input-small" placeholder="请输入评论" />
            <button type="submit" class="btn">Go!</button>
        </form>
    </div>
</div>
