#bj {
    text-align: center;
    background: url(../../Images/yaojiang/yjbj.jpg) no-repeat center;
}

.box3 .border3 {
    width: 100%;
    height: 100%;
}

#startimg {
    margin-top: 15%;
}

#PrizeName {
    margin-top: 10%;
}

#Description {
    color: white;
    font-size: 3em;
    margin-top: 0.5em;
    height: 0.5em;
    line-height: 0.5em;
}

#winner {
    width: 50%;
    height: 110px;
    line-height: 110px;
    position: fixed;
    top: 38%;
    left: 25%;
    z-index: 999;
    text-align: center;
    font-size: 3em;
    font-weight: 900;
}
