@{
    Layout = null;
}

<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>大会日程</title>
    <link href="~/chajian/mmm/css/idangerous.swiper.css" rel="stylesheet" />
    <link href="~/chajian/mmm/css/style1.css" rel="stylesheet" />
    <link href="~/CSS/Conference.css" rel="stylesheet" />
    <style>
        body {
            margin: 0;
            padding: 0;
            color: #eee;
            background: #222;
            font-family: Verdana,Geneva,sans-serif;
            font-size: 13px;
            line-height: 20px;
        }

        a:link, a:visited, a:hover {
            color: inherit;
        }

        h1 {
            font-family: Georgia,serif;
            font-size: 18px;
            font-style: italic;
            margin: 40px;
            color: #26beff;
        }

        h2 {
            font-family: Georgia,serif;
            font-size: 16px;
            font-style: italic;
            color: #eee;
        }

        p {
            margin: 0 0 20px 0;
        }

        hr {
            height: 0;
            border: none;
            border-bottom: 1px solid rgba(255,255,255,0.13);
            border-top: 1px solid rgba(0,0,0,1);
            margin: 9px 10px;
            clear: both;
        }

        .links {
            margin: 10px;
        }

            .links a {
                display: inline-block;
                padding: 3px 15px;
                margin: 7px 10px;
                background: #444;
                text-decoration: none;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                border-radius: 15px;
            }

                .links a:hover {
                    background: #eb3755;
                    color: #fff;
                }

        .output {
            margin: 20px 40px;
        }

            .output a {
                display: inline-block;
                text-decoration: none;
                padding: 3px 15px;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                border-radius: 15px;
                background: #000;
                margin: 5px 20px 5px 0;
            }

        code {
            color: #5b70ff;
        }

        .content {
            width: 100%;
            overflow: auto;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

            .content p:nth-child(even) {
                color: #999;
                font-family: Georgia,serif;
                font-size: 17px;
                font-style: italic;
            }

            .content p:nth-child(3n+0) {
                color: #c96;
            }

        .loading {
            opacity: 0.3;
        }
    </style>
    <link href="~/CSS/jquery.mCustomScrollbar.css" rel="stylesheet" />
</head>
<body>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide n3" id="n3">
                <div class="info">
                    <div class="info2">
                        <div id="content_1" class="content">
                            <img src="~/Images/Conference/sy.png" />
                        </div>
                    </div>
                    <div id="lianjie" class="info3">
                        <img src="~/Images/Conference/lj.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="confoot">
        <img src="~/Images/Conference/s1.png" id="shouye" />
        <img src="~/Images/Conference/j.png" id="jieshao" />
        <img src="~/Images/Conference/r.png" id="richeng" />
    </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/chajian/mmm/js/idangerous.swiper.min.js"></script>
    <script src="~/chajian/mmm/js/script.js"></script>
    <script src="~/Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
</body>
</html>
<script type="text/javascript">
    $(function () {
        $('.content').css('height', ($(window).height() * 0.75));
        ddd();
    })
    var j = '../../Images/Conference/j.png';
    var j1 = '../../Images/Conference/j1.png';
    var s = '../../Images/Conference/s.png';
    var s1 = '../../Images/Conference/s1.png';
    var r = '../../Images/Conference/r.png';
    var r1 = '../../Images/Conference/r1.png';
    $("#shouye").click(function () {
        $(this).attr('src', s1);
        $("#jieshao").attr('src', j);
        $("#richeng").attr('src', r);
        $("#lianjie").show();
        var str = '<img src="../../Images/Conference/sy.png" />';
        $('.content').html(str);
        ddd();

    })
    $("#jieshao").click(function () {
        $(this).attr('src', j1);
        $("#shouye").attr('src', s);
        $("#richeng").attr('src', r);
        $("#lianjie").hide();
        var str = '<img src="../../Images/Conference/js.png" />';
        $('.content').html(str);
        ddd();

    })
    $("#richeng").click(function () {
        $(this).attr('src', r1);
        $("#shouye").attr('src', s);
        $("#jieshao").attr('src', j);
        $("#lianjie").hide();
        var str = '<img src="../../Images/Conference/rc.png" />';
        $('.content').html(str);
        ddd();

    })



    function ddd() {
        var info1 = $('.info1');
        var info2 = $('.info2');
        var info3 = $('.info3');
        var info4 = $('.info4');
        var info5 = $('.info5');
        $(".info1,.info2,.info3,.info4,.info5").css('opacity', '0');
        setTimeout(function () {
            info1.animate({ opacity: 1 }, 800);
        }, 200);
        setTimeout(function () {
            info2.animate({ opacity: 1 }, 800);
        }, 800);
        setTimeout(function () {
            info3.animate({ opacity: 1 }, 800);
        }, 1400);
        setTimeout(function () {
            info4.animate({ opacity: 1 }, 800);
        }, 2000);
        setTimeout(function () {
            info5.animate({ opacity: 1 }, 800);
        }, 2600);
    }
</script>