@{
    ViewBag.Title = "摇奖";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/CSS/Ernie/Ernie.css" rel="stylesheet" />
<link href="~/CSS/Ernie.css" rel="stylesheet" />
<div id="bj">
    <div class="box3">
        <div class="border3">
            <div>张三</div>
            <div>张六</div>
            <div>张十二</div>
            <div>张十六</div>
            <div>张二十</div>
            <div>张五十</div>
        </div>
    </div>
    <img src="~/Images/yaojiang/start.png" id="startimg" />
</div>
<script type="text/javascript">
    var i = 0;
    $(document).ready(function () {
        $("#bj").css("height", $(window).height());
        $(".border3").css("animation-play-state", "paused");
        $(".border3").css("-webkit-animation-play-state", "paused");
    })
    $("#startimg").click(function () {
        if (i == 0) {
            i = 1;
            $(this).attr("src", "../../Images/yaojiang/stop.png");
            $(".border3").css("animation-play-state", "");
            $(".border3").css("-webkit-animation-play-state", "");
        } else {
            i = 0;
            $(this).attr("src", "../../Images/yaojiang/start.png");
            $(".border3").css("animation-play-state", "paused");
            $(".border3").css("-webkit-animation-play-state", "paused");
        }
    })

</script>