@{
    ViewBag.Title = "打假投诉";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="form1" style="text-align:center;margin-top:5%;" method="post" action="/Users/UpdateAddress">
    <input type="text" name="Title" style="width:92%" class="form-control" placeholder="请输入您投诉的主题" />
    <input type="text" name="Addres" style="width:92%;" class="form-control" placeholder="请输入您发生投诉问题的事发地" />
    <input type="text" name="ShopName" style="width:92%;" class="form-control" placeholder="请输入您够买的商品名称" />
    <input type="text" name="ShopNumber" style="width:92%;" class="form-control" placeholder="请输入您够买的商品编号" />
    <textarea name="Addres" rows="3" style="width:92%;" placeholder="请输入您投诉的内容"></textarea>
    <input type="text" name="ps" style="width:92%;" class="form-control" placeholder="请输入您备注信息" />
    <input class="btn  btn-info" id="bt" type="button" value="提交" />
</form>

