
@{
    ViewBag.Title = "防伪查询";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link id="Link1" rel="stylesheet" href="~/Styles/StyleSheet_m.min.css" />
<script type="text/javascript">
    $(document).ready(function () {
        var yzm = $("#imgYzm");
        var yzmUrl = yzm.attr("src");
        $("#imgYzm").click(function () {
            yzm.attr("src", yzmUrl + "?rid=" + Math.round(Math.random() * 10000000));
        });

        $("#sub").click(function () {
            var str = $("#txtYzm").val();
            if (str.length != 4) {
                $("#retnStr").empty().append("验证码长度为4位。");
                return false;
            }

            var flag = false;
            var code = $.trim($("#fwm").val());
            if (code != "" && !isNaN(code) && code.length) {
                //flag = true;
                $("#retnStr").empty().append('防伪码验证成功，获得一张优惠券！<a href="/Users/Coupons/">点击查看</a>');
            }
            else {
                $("#retnStr").empty().append("防伪码格式不正确,请检查您的防伪码是否输入正确。");
            }
            return flag;
        });

        $("#logo").click(function () {
            location.href = location.href;
        });
    });
</script>

<div align="center">
    <form id="forms" method="POST" runat="server">
        <div><img src="~/Images/logo1.png" /></div>
        <div align="center" id="Content">
            <div class="row">
                请输入防伪码：<br />
                <input id="fwm" name="fwm" type="text" autocomplete="off" maxlength="15" />
            </div>
            <div class="row">
                请输入验证码:<br />
                <input id="txtYzm" name="yzm" type="text" maxlength="4" /><img id="imgYzm" alt="看不清?点击刷新验证码" title="看不清?点击刷新验证码" src="/Function/VerificationCode" />
                <div class="Clear"></div>
            </div>
            <br />
            <br />
            <input id="sub" name="sub" type="submit" value="查   询" />
            <br />
            <br />
            <div id="retnStr" style="padding-bottom:2em;"></div>
        </div>
    </form>
</div>

