@-webkit-keyframes scrollText1 {
    0% {
        -webkit-transform: translateY(0px);
    }

    20% {
        -webkit-transform: translateY(-30px);
    }

    40% {
        -webkit-transform: translateY(-60px);
    }

    60% {
        -webkit-transform: translateY(-90px);
    }

    80% {
        -webkit-transform: translateY(-120px);
    }

    100% {
        -webkit-transform: translateY(-150px);
    }
}

@keyframes scrollText1 {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-30px);
    }

    40% {
        transform: translateY(-60px);
    }

    60% {
        transform: translateY(-90px);
    }

    80% {
        transform: translateY(-120px);
    }

    100% {
        transform: translateY(-150px);
    }
}

.box3 {
    position: relative;
    top: 20px;
    left: 20px;
    width: 200px;
    height: 30px;
    overflow: hidden;
    border: 1px solid #ccc;
}

.border3 {
    top: 0px;
    -webkit-animation: scrollText1 0.5s infinite cubic-bezier(1,0,0.5,0);
    animation: scrollText1 0.5s infinite cubic-bezier(1,0,0.5,0);
}

    .border3 div {
        height: 30px;
    }

    .border3:hover {
        animation-play-state: paused;
        -webkit-animation-play-state: paused;
    }
