html {
    height: 100%;
}

body {
    margin: 0;
    font-size: 16px;
    position: relative;
    height: 100%;
    background: #fff;
}

.swiper-container {
    width: 100%;
    height: 100%;
    color: #000;
    text-align: center;
}

.swiper-slide {
    overflow: hidden;
    position: relative;
    padding: 0px;
    margin: 0px;
}

.head {
    background: url(../images/1.jpg) center center no-repeat;
    background-size: 100%;
    position: relative;
}

.n2 {
    background: url(../../../Images/yqjsui/0-0.jpg) center center no-repeat;
    background-size: 100%;
}

.n3 {
    background: url(../../../Images/yqjsui/1-0.jpg) center center no-repeat;
    background-size: 100%;
}

.n4 {
    background: url(../../../Images/yqjsui/2-0.jpg) center center no-repeat;
    background-size: 100%;
}

.n5 {
    background: url(../../../Images/yqjsui/3-0.jpg) center center no-repeat;
    background-size: 100%;
}

.n6 {
    background: url(../../../Images/yqjsui/4-0.jpg) center center no-repeat;
    background-size: 100%;
}

.n7 {
    background: url(../../../Images/yqjsui/5-0.jpg) center center no-repeat;
    background-size: 100%;
}

.n8 {
    background: url(../../../Images/yqjsui/6-0.jpg) center center no-repeat;
    background-size: 100%;
}

.n9 {
    background: url(../../../Images/yqjsui/7-0.jpg) center center no-repeat;
    background-size: 100%;
}

.n10 {
    background: url(../../../Images/yqjsui/8-0.jpg) center center no-repeat;
    background-size: 100%;
}

.n11 {
    background: url(../../../Images/yqjsui/9-0.jpg) center center no-repeat;
    background-size: 100%;
}

.n12 {
    background: url(../images/12.png) center center no-repeat;
    background-size: 100%;
}

.n13 {
    background: url(../images/13.png) center center no-repeat;
    background-size: 100%;
}

.info {
    top: 5%;
    position: relative;
}

.infobj {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
}

.info1, .info2, .info3, .info4, .info5 {
    opacity: 0;
}

.head .info {
    position: relative;
    right: -410px;
    top: 30px;
}

.info {
    height: 100%;
}

.n2 .info1 {
    position: absolute;
    top: 0%;
    left: 40%;
}

.n2 .info2 {
    position: absolute;
    top: 19%;
    left: 50%;
}

.n2 .info3 {
    position: absolute;
    top: 40%;
    left: 30%;
}

.n3 .info1 {
    position: absolute;
    top: -3%;
    left: 5%;
}

.n3 .info2 {
    position: absolute;
    right: 5%;
    top: 10%;
}

.n3 .info3 {
    position: absolute;
    bottom: 20%;
    right: 5%;
}

.n3 .info4 {
    position: absolute;
    bottom: 30%;
    left: 5%;
}

.n3 .info5 {
    position: absolute;
    width: 100%;
    bottom: 6%;
    background: rgba(000,000,000,0.6);
    color: white;
    font-size: 330%;
    margin: 0;
    padding: 2%;
}

    .n3 .info5 p {
        padding: 0;
        margin: 0;
    }

.n4 .info1 {
    margin-top: 2%;
}

.n4 .info2 {
    margin-top: 3%;
}

.n5 .info1 {
}

.n5 .info2 {
}

.n5 .info3 {
    position: absolute;
    bottom: 20%;
    left: 10%;
}

.n5 .info4 {
    position: absolute;
    bottom: 20%;
    right: 6%;
}

.n5 .info5 {
    position: absolute;
    bottom: 8%;
    left: 10%;
}

.n6 .info1 {
    position: absolute;
    top: 0%;
    left: 20%;
}

.n6 .info2 {
    position: absolute;
    top: 10%;
    left: 20%;
}

.n6 .info3 {
    position: absolute;
    top: 22%;
    left: 10%;
}

.n6 .info4 {
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.n7 .info1 {
    position: absolute;
    top: 0%;
    left: 20%;
}

.n7 .info2 {
    position: absolute;
    top: 40%;
    left: 20%;
}

.n7 .info3 {
    position: absolute;
    bottom: 22%;
    left: 20%;
}


.n8 .info1 {
}

.n8 .info2 {
    margin: 10% auto 5% auto;
}

.n8 .info3 {
    position: absolute;
    left: 20%;
    bottom: 10%;
}

.n9 .info1 {
    position: absolute;
    left: 20%;
}

.n9 .info2 {
    position: absolute;
    left: 20%;
    top: 8%;
}

.n9 .info3 {
    position: absolute;
    left: 20%;
    top: 50%;
}

.n9 .info4 {
    position: absolute;
    left: 20%;
    top: 57%;
}

.n9 .info5 {
    position: absolute;
    left: 20%;
    bottom: 10%;
}

.n10 .info1 {
    position: absolute;
    right: 5%;
    top: 0%;
}

.n10 .info2 {
    position: absolute;
    right: 5%;
    top: 8%;
}

.n10 .info3 {
    position: absolute;
    right: 5%;
    top: 16%;
}

.n10 .info4 {
    position: absolute;
    right: 5%;
    top: 24%;
}

.n10 .info5 {
    position: absolute;
    right: 5%;
    top: 35%;
}

.n10 .info6 {
    position: absolute;
    right: 5%;
    top: 49%;
}

.n10 .info7 {
    position: absolute;
    right: 5%;
    bottom: 30%;
}

.n10 .info8 {
    position: absolute;
    right: 5%;
    bottom: 25%;
}

.n10 .info9 {
    position: absolute;
    right: 5%;
    bottom: 20%;
}

.n10 .info10 {
    position: absolute;
    bottom: 15%;
    right: 5%;
}

.n11 .info1 {
    width: 100%;
    font-size: 4.5em;
    font-weight: 900;
    margin-top: 35%;
}

.n11 .info2 {
    margin-top: 23%;
}

    .n11 .info2 img {
        position: absolute;
        width: 100%;
        left: 0%;
        top: 10%;
    }

.n11 .info3 {
    font-size: 3.5em;
    color: white;
    font-weight: 900;
    margin-top: 70%;
}

.n11 .info4 {
}

.n13 .info1 {
    margin-top: -5%;
}

.n13 .info2 {
    margin-top: -4%;
}

.n13 .info3 {
}

.n13 .info4 {
}

.n13 .info5 {
    margin-top: 4%;
}

.invite {
    margin-top: 15%;
}

.press img {
    border: 0px;
}

.foot {
    background: url(../images/share.png) no-repeat center center #000;
    background-size: 100%;
}

.share {
    width: 100%;
    height: 100%;
    background: url(../images/share.png) no-repeat center center #000;
    background-size: 100%;
}

.arrow {
    position: fixed;
    z-index: 100;
    width: 96px;
    height: 96px;
    background: url(../images/up.png);
    background-size: 100%;
    bottom: 30px;
    left: 50%;
    text-align: center;
    margin-left: -50px;
    animation: arrowUp 2s infinite ease-in;
    -webkit-animation: arrowUp 2s infinite ease-in;
}

@keyframes arrowUp {
    0% {
        transform: translateY(42px);
        opacity: 0;
    }

    60% {
        transform: translateY(12px);
        opacity: 1;
    }

    100% {
        transform: translateY(0px);
        opacity: 0;
    }
}

@-webkit-keyframes arrowUp {
    0% {
        -webkit-transform: translateY(42px);
        opacity: 0;
    }

    60% {
        -webkit-transform: translateY(12px);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(0px);
        opacity: 0;
    }
}

.mp3 {
    position: fixed;
    z-index: 9999;
    right: 5%;
    top: 2%;
}

    .mp3 img {
        width: 6em;
        height: 6em;
    }
