@{
    ViewBag.Title = "签到";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/CSS/DealerSgin/DealerSgin.css" rel="stylesheet" />
<link href="~/CSS/qj.css" rel="stylesheet" />
<div class="hero-unit">
    <img src="~/Images/DealerSgin/signtitle.png" id="titleimg" /><br />
    <select name="firmId" id="firmId">
        @{
            foreach (FirstPencilWeb.Models.Deler s in @ViewBag.list as List<FirstPencilWeb.Models.Deler>)
            {
                <option selected value="@s.FirmId">@s.Name</option>
            }
        }
    </select><br />
    <input class="span2" name="name" id="name" type="text" placeholder="请输入姓名">
    <br />
    <input class="span2" name="phone" id="phone" type="text" placeholder="请输入手机号">
    <br />
    <input class="span2" name="position" id="position" type="text" placeholder="请输入职位">
    <br />
    <input type="hidden" id="ip" value="@ViewBag.ip" />
    <img src="~/Images/DealerSgin/xxbtn.png" id="btn" /><br />
    @*<div id="ceshi"></div>*@
    <img src="" id="img" />
</div>
<div class=" divleft"></div>
<div class=" divright"></div>
<script>
    var ip = $("#ip").val();
    $(document).ready(function () {
        $(".hero-unit").css("height", $(window).height());
        setInterval(erweima, 1000);
    })
    $("#btn").on({
        "mouseout": function () {

        },
        "click": function () {
            TiJiao1($("#firmId").val(), $("#name").val(), $("#phone").val(), $("#position").val());
            //setTimeout(function () {
            // $("#img").attr("src", "");
            //  }, 10000);
        }
    })

    $(".divright").click(function () {
        location.href = "/Function/Messagewall";
    })

    //生成二维码
    function TiJiao1(firmId, name, phone, position) {
        $.ajax({
            url: "/Users/TiJiao",
            data: { firmId: firmId, name: name, phone: phone, position: position },
            dataType: "json",
            type: "post",
            success: function (data) {
                var url = data.url.substring(1, data.url.length - 1);
                $("#img").attr("src", url);
            }
        })
    }

    function erweima() {
        var url = $("#img").attr("src");
        $.ajax({
            url: "/Users/erweimaxiaodiao",
            data: { url: url },
            dataType: "json",
            type: "post",
            success: function (data) {
                if (data.b == "true") {
                }
                else {
                    $("#img").attr("src", "");
                }
            }
        })

    }
</script>