@{
    ViewBag.Title = "签到";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/CSS/DealerSgin/DealerSgin.css" rel="stylesheet" />
<link href="~/CSS/qj.css" rel="stylesheet" />
<div class="hero-unit">
    <img src="~/Images/DealerSgin/signtitle.png" id="titleimg" /><br />
    <input type="text" class="intext" placeholder="厂商简称" />
    <select name="firmId" id="firmId">
        @{
            foreach (FirstPencilWeb.Models.Deler s in @ViewBag.list as List<FirstPencilWeb.Models.Deler>)
            {
                <option selected value="@s.FirmId">@s.Name</option>
            }
        }
    </select>
    <input type="button" id="addchangshagn" class="btn btn-info" value="添加厂商" />
    <br />
    <input class="span2 xiao" name="name" id="name" type="text" placeholder="请输入姓名"><span class="xiaohong"> * </span>
    <br />
    <input class="span2 xiao" name="phone" id="phone" type="text" placeholder="请输入手机号"><span class="xiaohong"> * </span>
    <br />
    <input class="span2" name="position" id="position" type="text" placeholder="请输入职位">
    <br />
    <input type="hidden" id="ip" value="@ViewBag.ip" />
    <img src="~/Images/DealerSgin/xxbtn.png" id="btn" /><br />
    <img src="" id="img" />
</div>
<div class=" divleft"></div>
<div class=" divright"></div>

<div id="myModal1" class="modal hide fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-header">
        <button type="button" class="close changshangguan" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">添加厂商</h3>
    </div>
    <div class="modal-body">
        <input type="text" id="firmName" placeholder="请输入厂商名称" /><br />
        <input type="text" id="address" placeholder="请输入地址" /><br />
        <input type="text" id="area" placeholder="请输入地区" /><br />
        <input type="text" id="simpleName" placeholder="请输入简称" /><br />
        <input type="text" id="phoneNumber" placeholder="请输入电话" /><br />
    </div>
    <div class="modal-footer">
        <button class="btn changshangguan" data-dismiss="modal">关闭</button>
        <button class="btn btn-primary" id="queshi">确认提交</button>
    </div>
</div>



<script>
    var ip = $("#ip").val();
    $(document).ready(function () {
        $(".hero-unit").css("height", $(window).height());
        setInterval(erweima, 1000);
    })
    $("#btn").on({
        "mouseout": function () {
        },
        "click": function () {
            //TiJiao1($("#firmId").val(), $("#name").val(), $("#phone").val(), $("#position").val());
            alert($("#firmId").val());
        }
    })

    $(".divright").click(function () {
        location.href = "/Function/Messagewall";
    })

    //生成二维码
    function TiJiao1(firmId, name, phone, position) {
        $.ajax({
            url: "/Users/TiJiao",
            data: { firmId: firmId, name: name, phone: phone, position: position },
            dataType: "json",
            type: "post",
            success: function (data) {
                var url = data.url.substring(1, data.url.length - 1);
                $("#img").attr("src", url);
            }
        })
    }

    function erweima() {
        var url = $("#img").attr("src");
        $.ajax({
            url: "/Users/erweimaxiaodiao",
            data: { url: url },
            dataType: "json",
            type: "post",
            success: function (data) {
                if (data.b == "true") {
                }
                else {
                    $("#img").attr("src", "");
                }
            }
        })

    }



    //厂商简称
    $(".intext").on({
        "keyup": function () {
            var text = $(this).val();
            $.post("/Users/jiancheng", { jianchen: text }, function (data, status) {
                if (status == "success") {
                    var str = "";
                    if (data.length == 0) {
                        $("#firmId").empty();
                    }
                    $.each(data, function (i, items) {
                        str += '<option selected value="' + items.FirmId + '">' + items.Name + '</option>'
                    });
                    $("#firmId").empty().append(str);
                }
            })


        }
    })

    $("#addchangshagn").click(function () {
        $("#myModal1").show();
    })
    $(".changshangguan").click(function () {
        $("#firmName").val("");
        $("#address").val("");
        $("#area").val("");
        $("#simpleName").val("");
        $("#phoneNumber").val("");
        $("#myModal1").hide();
    })



    //添加厂商
    $('#queshi').on({
        "click": function () {
            var firmName = $("#firmName").val();
            var address = $("#address").val();
            var area = $("#area").val();
            var simpleName = $("#simpleName").val();
            var phoneNumber = $("#phoneNumber").val();
            if (firmName == "" || firmName == null) {
                alert("厂商名称不可为空！");
                return;
            }
            $.post("/Users/AddFirm", { firmName: firmName, address: address, area: area, simpleName: simpleName, phoneNumber: phoneNumber }, function (data, status) {
                if (status == "success") {
                    alert(data);
                }
            })
        }
    })
</script>