@{
    ViewBag.Title = "经销商中心";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .yuanjiao {
        color: white;
        width: 100%;
        height: 2.3em;
        line-height: 2.3em;
        border: 1px solid white;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        margin-top: 1em;
        font-size: 0.9em;
    }

    .bei {
        background-color: #757947;
    }

    .jianjie {
        color: white;
        margin-top: 0.9em;
        font-size: 0.7em;
    }

        .jianjie > a {
            color: white;
        }

    .bj {
        width: 100%;
        height: 100%;
        z-index: -100;
        position: fixed;
        left: 0;
        top: 0;
    }

    h5 {
        color: white;
        margin-bottom: 2em;
    }

    .lxts {
        width: 100%;
        z-index: 100;
        position: fixed;
        left: 0;
        bottom: 2%;
        text-align: center;
    }

        .lxts, .lxts > a {
            color: white;
            font-size: 1em;
        }

            .lxts > span {
                margin: 0 1.5em;
            }

    pre {
        text-align: left;
    }

    #imgdiv {
        position: relative;
    }

    #img1 {
        position: absolute;
        top: 0;
        left: 57%;
    }
</style>
<img src="~/Images/bj/jxbj.png" class="bj" />
<div class="hero-unit1" style="text-align:center">
    <br />
    <div id="imgdiv">
        <img src="~/Images/ceshi/touxiagn.jpg" id="img0" class="img-circle" width="30%" />
        <img src="~/Images/hg/s_crown_1.gif" id="img1" />
    </div>
    <h5>经销商名字</h5>
    <div class="progress progress-striped active" style="height:0.6em;line-height:0.6em;">
        <div class="bar" style="width:20%;">20/100</div>
    </div>
    <pre>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</pre>
</div>
<div class="lxts"><a>联系我们</a><span>|</span><a>投诉建议</a> </div>

